{% extends 'guest/base.html.twig' %}

{% block title %}Best's Boxer : Mot de passe oublié{% endblock %}

{% block body %}

<section class="w90 flex font">
    <form method="POST">
        <label for="email">Votre e-mail :</label>
        <input class="paddArticles10px" type="email" id="email" name="Email" required>
        <button class="marginTop" type="submit">Envoyer l'e-mail</button>
    </form>
</section>

{% endblock %}