{# {% extends 'guest/base.html.twig' %}

{% block title %}Best's Boxer : Mot de passe oublié{% endblock %}

{% block body %}

<form method="POST">
    <label for="email">Votre e-mail :</label>
    <input type="email" id="email" name="Email" required>
    <button type="submit">Envoyer l'e-mail de réinitialisation</button>
</form>

{% endblock %} #}