{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Connexion
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <form action="">

            </form>


            <p><a class="ancreBoxeAng" href="{{ path('inscription') }}">Vous n'avez pas de compte ? S'inscrire</a></p>
        {% endblock %}