{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Page d'Accueil
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            {# ------------- TITRE H1 ------------- #}
            <h1 id="titleHome" class="font">Derniers Articles </h1>
            <section class="w78 font">

                {# ------------- First Article ------------- #}
                <article class="paddArticles flex">

                    {# ------------- IMG Articles ------------- #}
                    <div class="DivImgArticles">
                        <img src="{{ asset('assets/img/JoshuaVSNgannou.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="bcgBlue paddArticles shadow">
                        <h2 class="white center paddArticles10px">Titre :</h2>
                        <p class="white paddArticles10px">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <a id="ancreBlue" class="center dblock paddArticles10px" href="">En savoir plus</a>
                    </div>
                </article>


                {# ------------- Second Article ------------- #}
                <article class="paddArticles flex">

                    {# ------------- IMG Articles ------------- #}
                    <div class="DivImgArticles">
                        <img src="{{ asset('assets/img/CedricDoumbe.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="bcgBlue paddArticles shadow">
                        <h2 class="white center paddArticles10px">Titre :</h2>
                        <p class="white paddArticles10px">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <a id="ancreBlue" class="center dblock paddArticles10px" href="">En savoir plus</a>
                    </div>
                </article>


                {# ------------- Third Article ------------- #}
                <article class="paddArticles flex">

                    {# ------------- IMG Articles ------------- #}
                    <div class="DivImgArticles">
                        <img src="{{ asset('assets/img/YoussefBoughanem.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="bcgBlue paddArticles shadow">
                        <h2 class="white center paddArticles10px">Titre :</h2>
                        <p class="white paddArticles10px">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <a id="ancreBlue" class="center dblock paddArticles10px" href="">En savoir plus</a>
                    </div>
                </article>


                {# ------------- Fourth Article ------------- #}
                <article class="paddArticles flex marginBot">

                    {# ------------- IMG Articles ------------- #}
                    <div class="DivImgArticles">
                        <img src="{{ asset('assets/img/JoshuaVSNgannou.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="bcgBlue paddArticles shadow">
                        <h2 class="white center paddArticles10px">Titre :</h2>
                        <p class="white paddArticles10px">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <a id="ancreBlue" class="center dblock paddArticles10px" href="">En savoir plus</a>
                    </div>
                </article>
            </section>


        {% endblock %}