{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Thailandaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            {# ------------- TITRE H1 ------------- #}
            <h1 id="titleHome" class="font">Boxe Thailandaise :</h1>
            <section class="w90flex wrap">

                {# ------------- First Article ------------- #}
                <article class="w45">

                    {# ------------- IMG Articles ------------- #}
                    <div>
                        <img src="{{ asset('assets/img/JoshuaVSNgannou.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="paddArtBoxeAng">
                        <h2 class="center">Titre :</h2>
                        <p class="paddArtBoxeAng">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <div class="center"><a id="ancreBlue" href="">En savoir plus</a></div>
                    </div>
                </article>


                {# ------------- Second Article ------------- #}
                <article class="w45">

                    {# ------------- IMG Articles ------------- #}
                    <div>
                        <img src="{{ asset('assets/img/CedricDoumbe.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="paddArtBoxeAng">
                        <h2 class="center">Titre :</h2>
                        <p class="paddArtBoxeAng">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <div class="center"><a id="ancreBlue" href="">En savoir plus</a></div>
                    </div>
                </article>


                {# ------------- Third Article ------------- #}
                <article class="w45">

                    {# ------------- IMG Articles ------------- #}
                    <div>
                        <img src="{{ asset('assets/img/YoussefBoughanem.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="paddArtBoxeAng">
                        <h2 class="center">Titre :</h2>
                        <p class="paddArtBoxeAng">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <div class="center"><a id="ancreBlue" href="">En savoir plus</a></div>
                    </div>
                </article>


                {# ------------- Fourth Article ------------- #}
                <article class="w45">

                    {# ------------- IMG Articles ------------- #}
                    <div>
                        <img src="{{ asset('assets/img/JoshuaVSNgannou.jpg') }}" alt="">
                    </div>

                    {# ------------- Text Article ------------- #}
                    <div class="paddArtBoxeAng">
                        <h2 class="center"s>Titre :</h2>
                        <p class="paddArtBoxeAng">
                            Lorem ipsum aidzbyuzbdahbciabczr
                            rczeiy rbciezrapezin ezrnoazeioz erbczear
                            cearbicezcue ziocnzercn zerbiae zrnazerc
                            cbri eczrbaezro ieazycbzreib eazrice
                        </p>

                        {# ------------- En Savoir Plus ------------- #}
                        <div class="center"><a id="ancreBlue" href="">En savoir plus</a></div>
                    </div>
                </article>
            </section


        {% endblock %}