{% extends 'admin/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Admin : Page d'Accueil
    {% endblock %}


{% block body %}
    <main>

        <p class="accueiladmin">ADMIN</p>

    </main>
{% endblock %}