*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img{
    width: 100%;
}
.underline{
    text-decoration: underline;
}

a{
    color: white;
}

#ancreBlue{
    color: #145DA0;
}

.dblock{
    display: block;
}

.none{
    display: none;
}

.font{
    font-family: "Poppins", sans-serif;
}

.beigeChaud{
    color: #ddcca3;
}

.owl-carousel img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 5px;
}

.height300px img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.result{
    width: 50%;
    display: flex;
    margin: 0 auto;
    background-color: #0C2D48;
    padding: 7px;
    justify-content: space-evenly;
    transform: translateY(-11px);
    border-radius: 10px;
}

.first-password{
    margin-bottom: 15px;
}

/* ---------- HEADER ---------- */
header{
    height: 80vh;
    background-image: url(../../img/JoshuaHeader.jpg);
    background-size: cover;
    position: relative;
}

#navHeader{
    background-color: #0C2D48;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.burger{
    display: none;
}

#ulHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button{
    background-color: white;
    border: solid 2px #145DA0;
    border-radius: 10px;
    padding: 5px!important;
}

i{
    color: white;
}

.ulNone{
    display: none;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#ulHeader li{
    position: relative;
    transition: all 0.8s linear;
    padding: 20px 15px;
}

li:hover .ulNone{
    display: block;
    position: absolute;
    bottom: 0;
    left: -15px;
    background-color: #0C2D48;
    padding: 10px;
    width: 180px;
    text-align: center;
    transform: translateY(100%);
    z-index: 1000;
}

.paddAncre{
    padding: 15px;
}

.translate{
    transform: translate(-3%, -2%);
}

.littleMarginBot{
    margin-bottom: 30px;
}

#ancreLightBlue{
    color: #145DA0;
    padding: 10px;
}

.padd10px{
    padding: 7px;
}


/* ---------- MAIN ---------- */

/* ---------- PAGE D'ACCUEIL ---------- */
.paddArticles10px{
    padding: 10px;
}

.paddArticles.flex{
    align-items: stretch;
}

.DivImgArticles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#titleHome{
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    color: #145DA0;
    font-weight: bold;
    font-size: 50px;
}

.w78{
    width: 70%;
    padding: 20px;
}

.paddArticles{
    padding: 7px;
}

.center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcgBlue{
    background-color: #0C2D48;
}

.radius{
    border: solid 2px white;
    border-radius: 7px;
}

.shadow{
    box-shadow: 10px 10px 4px gray;
}

.white{
    color: white;
}

.DivImgArticles{
    flex: 1;
    transform: scale(1.1);
    height:300px;
}

.flex2{
    flex: 2;
}

.marginBot{
    margin-bottom: 100px;
}

.marginTop{
    margin-top: 50px;
}

.marginCaroussel{
    width: 45%;
    margin: 150px auto 100px auto;
}


/* ---------- FOOTER ---------- */
#navFooter{
    background-color: #0C2D48;
    width: 100%;
    padding:10px 0;
}

#ulFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#divImgFooter{
    width: 5%;
    border: solid 1px white;
}



/* ---------------------------------- BOXE ANGLAISE -------------------------------- */

/* ---------- MAIN ---------- */

.ancreBoxeAng{
    color: #2563EB;
}

.w90flex{
    display: flex;
    width: 90%;
    margin: auto;
}

.wrap{
    flex-wrap: wrap;
}

.w45{
    width: 45%;
    margin: 0px auto;
}

.paddArtBoxeAng{
    padding: 30px 0px 30px 0px;
}

button{
    display: block;
}

/* ---------------------------------- BOXE ANGLAISE / SUPER PLUMES -------------------------------- */


.w90{
    width: 90%;
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
}

.w45flexWrap{
    width: 45%;
    margin: auto;
}

.w90img{
    width: 90%;
    margin: auto;
}

.padd11px{
    padding: 11px;
}


/* ---------------------------------- BOXE FRANCAISE -------------------------------- */

.frameGif{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    pointer-events: none;
    position: relative;
    z-index: 1;
}


/* ---------------------------------- BOXE FRANCAISE SUPERLOURD/LEGERS -------------------------------- */

.heavyMarginTop{
    margin-top: 50px;
}

/* ---------------------------------- FORMULAIRE CONNEXION -------------------------------- */

.margFormUser{
    margin: 20px 15px 20px 15px;
}

.connexionUser{
    all: unset;
    background-color: #0C2D48;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.inputWrapper{
    position: relative;
    margin:50px 0;
}

input, .label{
    display: block;
    width:100%;
}

.label{
    position: absolute;
    top:0;
    left:30px;
    transition: .5s;
}

input{
    border:none;
    border-bottom: solid 1px black;
    background-color: transparent;
}

input:not(:placeholder-shown) + .label, input:focus + .label{
    transform: translateY(-30px);
}
/* ---------------------------------- FORMULAIRE INSCRIPTION -------------------------------- */

.w50{
    width: 50%;
    margin: 70px auto;
}

.inscription{
    color: #2563EB;
}

.inscrire{
    all: unset;
    background-color: #0C2D48;
    border-radius: 10px;
    padding: 7px;
    color: white;
    display: block;
    margin: 30px auto 0 auto;
}


/* ---------------------------------- MESSAGE FLASH -------------------------------- */

.messFLash{
    width: 100%;
    margin: 15px auto;
    color: white;
    background-color: #64798A;
    text-align: center;
    padding: 7px;
}

/* ---------------------------------- FORMULAIRES -------------------------------- */

.shadowForm{
    box-shadow: 1px 1px 10px grey;
    padding: 30px;
}

/* ---------------------------------- COMMENTAIRES -------------------------------- */

.spanComment{
    font-weight: bold;
    font-size: 25px;
}

.posterComment{
    all: unset;
    background-color: #0C2D48;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.flexComment{
    display: flex;
    padding: 5px;
    width: 100%;
}

.w30{
    width: 20%;
    background-color: rgba(225, 225, 225, 0.55);
}

.w70{
    width: 70%;
    display: flex;
    align-items: center;
}

.littleCarac{
    font-size: 12px;
}

.fontSize{
    font-size: 25px;
}


/* ---------------------------------- RESPONSIVE TABLETTE PORTRAIT -------------------------------- */

@media screen and (min-width:768px) and (max-width:1024px) {
    header{
        background-position: center;
        height: 50vh;
    }

    #navHeader li{
        font-size: 14px;
    }

    .w30{
        width: 30%;
    }

    .w45{
        width: 80%;
    }

    .w50{
        width: 80%;
    }

    .shadow{
        box-shadow: none;
    }

    .translate {
        transform: none;
    }

    .w78{
        width: 90%;
        margin: auto;
    }

    .w48{
        width: 48%;
        background-color: #0C2D48;
    }

    .DivImgArticles{
        transform: none;
    }

    .radius{
        border: none;
    }

    .flex{
        display: block;
        margin: 20px 50px 20px 50px;
    }

    .Tablette{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Tablette article div p{
        display: none;
    }

    .Tablette .flex{
        margin: 20px 0;
    }

    .owl-carousel img{
        height: 300px;
        object-position: top;
    }

    #ulFooter{
        flex-direction: column;
        gap: 5px;
    }

    .marginCaroussel{
        width: 70%;
    }

}

/* ---------------------------------- RESPONSIVE TELEPHONE -------------------------------- */

@media screen and (max-width:480px){
    header{
        background-image: none;
        height: 5vh;
    }

    .marginCaroussel{
        width: 70%;
    }

    .w50{
        width: 90%;
    }

    .w30{
        width: 30%;
    }

    #navHeader{
        display: flex;
        justify-content: space-around;
    }

    .shadow{
        box-shadow: none;
    }

    .translate {
        transform: none;
    }

    .w78{
        width: 90%;
        margin: auto;
    }

    .w48{
        width: 100%;
        background-color: #0C2D48;
    }

    .w45{
        width: 85%;
    }

    .DivImgArticles{
        transform: none;
        height: 180px;
    }

    .radius{
        border: none;
    }

    .flex{
        display: block;
        margin: 20px 50px 20px 50px;
    }

    .Tablette{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Tablette article div p{
        display: none;
    }

    .owl-carousel img{
        height: 200px;
        object-position: top;
    }

    #titleHome{
        font-size: 30px;
    }

    .nameBox{
        font-size: 18px;
    }

    #ulHeader{
        display: none;
        position: absolute;
        top: 37px;
        left: 0;
        width: 100%;
        background-color: #0C2D48;
        z-index: 500;
    }

    .burger{
        display: block;
        width: 8%;
    }

    .menuBurger{
        gap: unset;
        display: block;
    }

    .burger .menuBurger li{
        height: 1px;
        background-color: white;
        margin: 9px 0;
        width: 100%;
        padding: 0!important;
    }

    #ulHeader.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        padding-top: 30px;
    }

    #navFooter{
        font-size: 7px;
    }

    .none{
        display: block;
        width: 12%;
        border: solid 1px black;
    }

    #navHeader{
        top: 0;
        height: 4vh;
    }

    .none2{
        display: none;
    }

    body{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 100vh;
    }

    #ulFooter{
        flex-direction: column;
        gap: 5px;
    }

}