{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Française
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            {# ------------- TITRE H1 ------------- #}
            <h1 id="titleHome" class="font">Boxe Française </h1>
            <section class="w90flex wrap">
               <div class="frameGif">
                   <div style="width:480px;"><div style="height:0;padding-bottom:100%;position:relative;"><iframe width="360" height="360" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameBorder="0" src="https://imgflip.com/embed/915p3o"></iframe></div></div>
               </div>
            </section>
        {% endblock %}