{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise Super Plumes
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <p>test</p>
        {% endblock %}