{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise Super Plumes
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}

            <section class="w90 margin">
                {% for boxeur in boxeurs %}
                    <p>{{ boxeur.nom }}</p>
                {% endfor %}
            </section>

        {% endblock %}