{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            {# ------------- TITRE H1 ------------- #}

            <h1 id="titleHome" class="font">Boxe Anglaise </h1>
            <section class="w90flex wrap">
                {% for boxeur in boxeurs %}
                    <article class="w45 font">
                        {# ------------- IMG Articles ------------- #}


                        {# ------------- Text Article ------------- #}
                        <div class="paddArtBoxeAng">
                            <h2 class="center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                            <p class="paddArtBoxeAng center">
                                {{ boxeur.resume }}
                            </p>
                            {# ------------- En Savoir Plus ------------- #}
                            <div class="center"><a id="ancreBlue" href="{{ path('show_boxeur', {id:boxeur.id}) }}">En savoir plus</a></div>
                        </div>
                    </article>
                {% endfor %}
            </section>
        {% endblock %}
